<div class="container">
      <div class="row mainRow" id="lpIntro">
        <div class="col-sm-6 text-center">
          <h2 class="green">Ready to play? <br><br> Find other gamers online now.</h2>
        </div>
      </div>
      <div class="row mainRow" >
        <div class="col-sm-6 text-center">
          <button class="btn btn-outline-success my-2 my-sm-0" id="btnSignUp" type="submit">Sign Up</button>
        </div>
      </div>
    </div>