<form>
        <div class="mb-3">
          <label for="InputName" class="form-label">Name</label>
          <input type="input" class="form-control" id="Name">
          <div id="name" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="DisplayName" class="form-label">Display Name</label>
          <input type="input" class="form-control" id="DisplayName">
        </div>
      </form>
        <div class="mb-3">
          <label for="Age" class="form-label"> Age</label>
          <input type="input" class="form-control" id="UserAge" aria-describedby="Age">
          <div id="Age" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="InputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="InputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
 </form>
