* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --green: #1a8484;
  --lightGreen: #54dddd;
  --darkGreen: #075050;
  --brightGreen: #28a745;
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
  --darkGray: #212529;
  --gray: #31363b;
}

#logo {
  color: var(--brightGreen);
}
.green {
  color: var(--brightGreen);
}

.fontAwesome {
  color: var(--green);
  font-size: 1.2rem;
}

.fontAwesome:hover {
  color: var(--lightGreen);
}

/* *******************Mobile/vs desktop */
.desktop img {
  display: none;
}
.mobile img {
  display: block;
}

/* *******************Landing page */

.mainImg img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.mainRow {
  justify-content: space-around;
  padding: 2rem 0;
}

#lpIntro {
  padding: 7rem 0;
}

#btnSignUp {
  background-color: rgba(255, 255, 255, 0.3);
  height: 5rem;
  width: 10rem;
  border-width: 4px;
  font-weight: bolder;
}

#btnSignUp:hover {
  background-color: var(--brightGreen);
}

/* *****************************************Chat Page********************** */

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Chat Page */

#sendBtn {
  margin-left: 10px;
}

.chat-container {
  max-width: 1100px;
  background: #fff;
  margin: 40px auto;
  overflow: hidden;
}

.chat-header {
  padding-top: 1000px;
  background: var(--darkGray);
  color: var(--brightGreen);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--gray);
  color: var(--green);
  padding: 20px 20px 60px;
  overflow-y: scroll;
}
.chat-sidebar::-webkit-scrollbar {
  width: 16px;
}

.chat-sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.chat-sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(236, 233, 233, 0.5);
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  padding: 30px;
  max-height: 500px;
  min-height: 400px;
  overflow-y: scroll;
  background-color: var(--gray);
}
.chat-messages::-webkit-scrollbar {
  width: 16px;
}

.chat-messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(236, 233, 233, 0.5);
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--darkGray);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
  background-color: var(--gray);
  color: white;
}
.chat-form-container input[type="text"]::placeholder {
  color: var(--green);
}

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
}

.join-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.join-main .btn {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}

@media all and (min-width: 960px) {
  .desktop img {
    display: block;
    object-fit: cover;
  }
  .mobile img {
    display: none;
  }
}
